{% extends 'catalog/base.html' %}
{% load img_tag %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить запись</a>
</div>
{% for object in object_list %}
<div class="card mb-4 box-shadow">
    <div class="card-body">
        <p class="card-text">
            {{ object.title | title }}
            <br>
            {{ object.body | title }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="{% url 'blog:view' object.slug %}"
                   class="btn btn-sm btn-outline-secondary">Смотреть</a>
                <a href="{% url 'blog:edit' object.slug %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Изменить</a>
                <a href="{% url 'blog:delete' object.slug %}" type="button"
                   class="btn btn-sm btn-outline-danger">Удалить</a>
            </div>
            {% if object.is_published %}
            <a href="{% url 'blog:toggle_activity' object.slug %}">Не опубликовывать</a>
            {% else %}
            <a href="{% url 'blog:toggle_activity' object.slug %}">Опубликовать</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}