{% extends 'catalog/base.html' %}
{% load img_tag %}
{% block content %}
<div class="col-4 mx-auto d-flex justify-content-center align-items-center">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                    {% if object %}
                    Обновить
                    {% else %}
                    Создать
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}