{% extends 'catalog/base.html' %}
{% load img_tag %}
{% block content %}
<div class="col-4 mx-auto d-flex justify-content-center align-items-center">
    <div class="card mb-4 box-shadow">

        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">{{ object.product_name | title }}</h4>
            <img src="/media/{{ object.preview }}" style="width:380px; height:250px;"/>
        </div>

        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{object.price}} $</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3 text-center">
                <li>- Описание - {{object.description|slice:":100"}}</li>
                <li>- Категория - {{object.category|title}}</li>
                <li>- Продавец - {{object.seller|default:"ProductStore" }}</li>
                {% if object.is_published %}
                <li>- Опубликовано</li>
                {% else %}
                <li>- Не опубликовано</li>
                {% endif %}
                <li>- {{ object.create_date }}</li>
            </ul>

            {% if perms.catalog.change_product or user == object.seller %}
            <a href="{% url 'catalog:update_product' object.slug %}" type="button"
               class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
            {% endif %}

            {% if perms.catalog.delete_product %}
            <a href="{% url 'catalog:delete_product' object.slug %}" type="button"
               class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
            {% endif %}

            <button type="button" class="btn btn-lg btn-block btn-outline-success">Купить</button>
        </div>

        <ul class="list-unstyled mt-3 mb-4 text-start m-3 text-center">

            {% for version in object.version_set.all %}
            {% if version.is_active %}
            <li>Версия: {{version.version_name}} {{version.version_number}}</li>
            {% endif %}
            {% endfor %}

    </div>
</div>
{% endblock %}