{% extends 'catalog/base.html' %}
{% load img_tag %}
{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">

        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="card-title">Настройки продукта</h3>
                </div>
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                    {% if object %}
                    Обновить
                    {% else %}
                    Создать
                    {% endif %}
                </button>
            </div>
        </div>

        {% if user.is_superuser or user == object.seller %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="card-title">Версии продукта</h3>
                </div>
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </form>
</div>


{% endblock %}